requests
psycopg2
pprint
numpy
scipy
pandas
statsmodels
scikit-learn
tensorflow
keras
spacy
line_profiler
matplotlib
seaborn
plotly
bokeh
shapely
geopandas
geojson
scikit-image
folium
rasterstats
geopy
jupyterlab